Source: long-updator
Section: devel
Priority: optional
Maintainer: LongOS <389574063@qq.com>
Build-Depends:  cmake,
		libqapt-dev,
		qtbase5-dev,
		qtdeclarative5-dev,
		qtquickcontrols2-5-dev,
		qttools5-dev,
		qttools5-dev-tools,
		debhelper (>= 9)
Standards-Version: 4.6.0
Homepage: https://longos.cn
Rules-Requires-Root: no

Package: long-updator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LongOS Updator.
